@model List<TypeOfDevice>

<div class="d-flex justify-content-between mb-4">
    <h2 class="me-4">Types of devices</h2>
    <a asp-controller="TypeOfDevice" asp-action="Upsert" class="btn btn-primary">Create</a>
</div>
